<%- include("header"); -%>

<h1>Sample website</h1>

<img src="https://picsum.photos/id/866/1600/900" alt="Placeholder image"
     width="1280" height="720">

<div style="display: none;">
  <img src="https://picsum.photos/id/866/1600/900" alt="Placeholder image">
</div>

<p>
  A character using an external font (to trigger the request):
  <span style="font-family: 'Roboto', serif;">R</span>
</p>

<%- include("footer"); -%>
