<%- include("header"); -%>

<h1>Profile</h1>

<p>
  <%_ for (let i = 0; i < 1000; i++) { -%>
  <span>Lorem ipsum dolor sit amet</span>
  <%_ } -%>
</p>

<script>
  /*<%= "*".repeat(100) %>*/
  Promise.all([...Array(10).keys()].map(i => fetch(`/?q=${i}`)))
    .then(res => console.log(`Fetched ${res.length} requests`));
</script>

<script>/* Too     */</script>
<script>/* much    */</script>
<script>/* scripts */</script>
<script>/* ...     */</script>

<%- include("footer"); -%>
