<%- include("header"); -%>

<h1>Profile</h1>

<p>
  <%_ for (let i = 0; i < 1000; i++) { -%>
  <span>Lorem ipsum dolor sit amet</span>
  <%_ } -%>
</p>

<script>
  /*<%= "*".repeat(100) %>*/
  Promise.all([...Array(10).keys()].map(i => fetch(`/?q=${i}`)))
    .then(res => console.log(`Fetched ${res.length} requests`));
</script>

<script>
  fetch("/?fake=https://platform.linkedin.com/in.js"); // Fake a social plugin download
  fetch("/not-found.html"); // "Successful" request but with a 404 status
  fetch("http://localhost:9998"); // A failed request on a different hostname:port
  fetch("http://localhost:9999"); // Another failed request on a different hostname:port
  throw new Error("An error to fix in the source code");
</script>

<%- include("footer"); -%>
