//
// Issues statistics and table
//

// Statistics
.stats {
    font-size: 1.5rem;
}

// Issues table
.issues {
    .severity {
        justify-content: left;
    }

    td {
        code {
            position: relative;
            top: -1px;
        }

        .count {
            background: $grey-lightest;
            font-size: 0.9em;
            padding: 0 6px;
            border-radius: 4px;
        }
    }

    th:last-child, td:last-child {
        width: 50%;
        max-width: 500px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    td:last-child {
        position: relative;
        padding-right: 2em;

        &::after {
            content: url(/icons/ellipsis.svg);
            position: absolute;
            right: 12px;
            top: calc(50% - 8px);
            width: 16px;
            height: 16px;
            cursor: pointer;
            opacity: 0;
        }
    }

    tr:hover td:last-child::after {
        opacity: .75;
    }
}

// Severity level icon
.severity {
    display: flex;
    justify-content: center;
    gap: 0.25em;
    font-weight: $weight-semibold;
    text-transform: capitalize;

    &.s-none {
        opacity: 0.5;
    }

    &::before {
        content: "";
        display: inline-block;
        background-size: contain;
        width: 1em;
        height: 1em;
        margin-top: 1px;
    }

    @each $severity, $color in $severities {
        &.s-#{$severity} {
            color: $color;

            &::before {
                content: url(/icons/#{$severity}.svg);
            }
        }
    }

}

// Modal
.modal {
    line-height: 1.5;

    .modal-content {
        .severity {
            line-height: $body-line-height;
        }

        .message .message-body {
            word-break: break-all;
        }
    }
}
