@use "sass:string";

//
// Measures
//

// Tiles
.measures {

    .level {
        margin-bottom: 0;

        .level-item {
            margin: 1rem 0;

            .heading {
                font-size: 12px;
            }

            .title {
                font-size: 1.5rem;
            }
        }
    }

    @include from($tablet) {
        padding: 0;

        .level {
            &.measures-primary .level-item {
                width: 25%;
            }
        }
    }

    .measures-secondary {
        margin: 0;
        background-color: $white-bis;
        border-top: solid 1px hsl(0, 0%, 92%);
        overflow: hidden;

        &>.column {
            padding: 0.6rem 0.75rem;
            border-bottom: solid 1px hsl(0, 0%, 92%);
            margin-bottom: -1px;

            .columns .column {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &.heading {
                    margin: 0;
                    line-height: $body-size;
                    text-align: right;

                    @include until($tablet) {
                        text-align: center;
                    }
                }

                &.value {
                    font-weight: 600;
                    text-align: left;

                    @include until($tablet) {
                        text-align: center;
                    }
                }
            }
        }
    }
}

// Letter grade
.grade {
    display: flex;
    justify-content: center;
    gap: 0.25em;

    &::before {
        content: "";
        display: inline-block;
        font-size: 0.75em;
        font-weight: $weight-bold;
        text-align: center;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.45em;
        color: #ffffff;
        border-radius: 100%;
    }

    @each $grade, $color in $grades {
        &.g-#{string.to-lower-case($grade)} {
            color: $color;

            &::before {
                content: $grade;
                background-color: $color;
            }
        }
    }

}
